[] - fix temp slot hack (see: unnamed.slots.should.show.up.in.class.editor...)
[wip] - Project save/open
[] - Project [re-]name (NOT based on filename)
[] - Use case [re-]name
[wip] - Graphics for toolbars and available items
[] - one signal can have multiple slots connected
[] - remove signals/properties/slots (give warning when deleting a slot with > 0 statements)
[] - remove (re-order too?) statements in slots (signal/slot hackery stays in sync)
[] - Defined elsewhere #includes when referenced (EXCEPT when referenced as pointer, then forward declare)
[] - Ampersand ambiguity in GUI (when in doubt, just remove ampersand altogether)
[] - signal/slot dialog: ok button uses toolbutton to quick assign instance, only if no instance
[] - hasA and properties -- merge? at the very least, hasA needs gui add
[] - Don't allow infinite parent/child relationship loop (Foo hasA bar hasA Foo)
[] - slot references with visual differentiation (slot references still show signal emit statements (recursively with private methods therein?))
[] - clean up class editor (class preview + tab-ize. move the non-clang 'add stuff' to the stuff-specific tab. on each stuff-specific tab should also be a clang parse line edit at the top (exact same functionality, but pressing enter is no longer ambiguious). remove/re-order/rename/etc the 'stuff')
